<!DOCTYPE html>
<html lang="ru">
@@include('components/head/head.html', { 'title': 'Главная', 'css': 'ui-page' })

<body>
  <div class="full-wrapper">
    @@include('components/header/header.html')

    <main class="page">
      <section class="test-section">
        <div class="test-section__container">
          <div class="test-section__content">
            <!-- icons -->
            <div class="test-section__box">
              <h2 class="test-section__title">Иконочный шрифт:</h2>
              <br />
              <ul class="icons-list icons">
                <li class="icons-list__item">
                  <i class="icon-arrow-big"></i>
                  <i class="icon-star"></i>
                  <i class="icon-correspondence56"></i>
                  <i class="icon-fast56"></i>
                  <i class="icon-guarantee56"></i>
                  <i class="icon-integration1C56"></i>
                  <i class="icon-integration56"></i>
                  <i class="icon-pricing56"></i>
                  <i class="icon-security56"></i>
                  <i class="icon-web56"></i>
                  <i class="icon-bag32"></i>
                  <i class="icon-bitrix32"></i>
                  <i class="icon-headphones32"></i>
                  <i class="icon-integration32"></i>
                  <i class="icon-phone32"></i>
                  <i class="icon-responsive32"></i>
                  <i class="icon-rupor32"></i>
                  <i class="icon-shop32"></i>
                  <i class="icon-tools32"></i>
                  <i class="icon-arrow-left24"></i>
                  <i class="icon-arrow-right24"></i>
                  <i class="icon-bag24"></i>
                  <i class="icon-burger24"></i>
                  <i class="icon-caret24"></i>
                  <i class="icon-catalog24"></i>
                  <i class="icon-check24"></i>
                  <i class="icon-close24"></i>
                  <i class="icon-entrance24"></i>
                  <i class="icon-infinity24"></i>
                  <i class="icon-info24"></i>
                  <i class="icon-minus24"></i>
                  <i class="icon-pencil24"></i>
                  <i class="icon-plus24"></i>
                  <i class="icon-question24"></i>
                  <i class="icon-search24"></i>
                  <i class="icon-share24"></i>
                </li>
              </ul>
            </div>
            <!-- fonts -->
            <div class="test-section__box fonts fonts--first">
              <div class="fonts__title">DaysOne</div>
              <h1>Display_80 px</h1>
              <h2>display_58 px</h2>
              <h3>display_48 px</h3>
              <h4>display_40 px</h4>
              <h5>display_32 px</h5>
              <h6>display_24 px</h6>
            </div>
            <!-- fonts -->
            <div class="test-section__box fonts fonts--second">
              <div class="fonts__title">Gravity</div>
              <h1>Display_80 px</h1>
              <h2>display_58 px</h2>
              <h3>display_48 px</h3>
              <h4>display_40 px</h4>
              <h5>display_32 px</h5>
              <h6>display_24 px</h6>
            </div>
            <!-- fonts -->
            <div class="test-section__box fonts fonts--third">
              <div class="fonts__title">Montserrat</div>
              <h1>Display_80 px</h1>
              <h2>display_58 px</h2>
              <h3>display_48 px</h3>
              <h4>display_40 px</h4>
              <h5>display_32 px</h5>
              <h6>display_24 px</h6>
            </div>
            <!-- Text -->
          </div>
        </div>
      </section>
    </main>
  </div>

  @@include('components/footer/footer.html', {})
</body>

</html>
