* {
	line-height: 140%;
}

h1 {
	font-size: 3.2rem;

	@media screen and (max-width: $tablet) {
		font-size: 2.8rem;
	}

	@media screen and (max-width: $mobile) {
		font-size: 2rem;
	}
}

h2 {
	font-size: 2.8rem;

	@media screen and (max-width: $tablet) {
		font-size: 2.2rem;
	}

	@media screen and (max-width: $mobile) {
		font-size: 1.8rem;
	}
}

h3 {
	font-size: 2.4rem;

	@media screen and (max-width: $tablet) {
		font-size: 1.8rem;
	}

	@media screen and (max-width: $mobile) {
		font-size: 1.4rem;
	}
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bolder;
}

// Test component styles
.test-section {
	&__content {
		padding: 35px;
		margin: 10px 0;
		background-color: #1d3557;
		border-radius: 5px;

		@media screen and (max-width: $tablet) {
			padding: 22px;
		}

		@media screen and (max-width: $mobile) {
			padding: 12px;
		}
	}

	&__box {
		padding: 22px;
		margin: 25px 15px;
		background-color: #f1faee;
		border-radius: 5px;

		&.fonts {
			& h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-family: $ff_R;
				line-height: 100%;
				margin-bottom: 15px;
			}
		}

		& a {
			font-size: 2.2rem;
			color: #1d3557;

			&:hover {
				color: #457b9d;
			}
		}
	}

	&__title {
		font-family: $ff_R;
		color: #e63946;
		font-weight: 900;
		margin-bottom: 10px;
	}

	&__image {
		width: 100%;
		max-width: 120px;
	}
}

.icons-list {
	@include fdrjs_aic;
	gap: 12px;

	&__item {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
}

.icon {
	font-size: 4rem;
	color: #e63946;
	@include defaultTransition;

	&:hover {
		color: #1d3557;
		cursor: pointer;
		@include defaultTransition;
	}
}

.swiper {
	width: 100%;
	@include adaptive-value("height", 420, 220, 1);
	border-radius: 5px;

	& .swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptive-value("font-size", 44, 22, 1);
		background-color: #b8dacb;
		color: $black;
	}
}

.nav-btn {
	padding: 12px 32px;
	background-color: #457b9d;
	color: $white;

	&:hover {
		background-color: #e63946;
		color: #f1faee;
	}
}
