/* stylelint-disable */
//? Миксин для подключения шрифтов
//* Подробнее: https://developer.mozilla.org/ru/docs/Web/CSS/font-family

@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}, sans-serif";
    src: url("../fonts/#{$url}.woff") format("woff"), url("../fonts/#{$url}.woff2") format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

//? Подключение шрифтов
// @include font-face("Ваш шрифт", "Ваш шрифт", 400, normal);
