//? Основные цвета
$white: #ffffff;
$black: #000;
$accent: red;
// $primary: ;
// $secondary: ;

//? По умолчанию
$base_fz: 16px; //? Размер шрифта по умолчанию 16px
$base_ff: "Arial, Helvetica", sans-serif; //? Шрифт по умолчанию
$base_hover: $accent; //? Цвет hover по умолчанию
$base_bg: $white; //? Цвет фона по умолчанию
$base_color: $black; //? Цвет текста по умолчанию

//? Переменные семейств шрифтов
// $ff_Roboto: "Roboto", sans-serif;

//? Стиль шрифтов
$I: italic;
$O: oblique;

//? Толщина семейства шрифтов
$th: 100; // Thin
$el: 200; // Extra Light
$l: 300; // Light
$r: 400; // Regular
$m: 500; // Medium
$sb: 600; // SemiBold
$b: 700; // Bold
$eb: 800; // Extra Bold
$bl: 900; // Super

//? Размеры
//* Ширина полотна (макета)
$maxWidth: 1920;

//* Ширина ПК контейнера
$maxWidthContainer: 1560;

//* Минимальная ширина страницы
$minWidth: 320px;

//* Общий отступ у контейнера
// (32px / 2 = 16px слева и справа, если $responsiveType = 1)
// (16px * 2 = 32px слева и справа, если $responsiveType = 2)
// 0 = нет отступа
$containerPadding: 16px;

//* Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

//* Высота отступа контента от fixed header
$headerHeight: 55px;

//? Брейк-поинты
$pc: 1200px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 768px; // Телефоны L
$mobileSmall: 480px; // Телефоны S

//! Настройки Контейнера
/*
  (i) Стили будут применяться ко
  всем классам содержащим *__container
  Например header__container, main__container и т.д.
*/

[class*="__container"] {
  max-width: $maxWidthContainer + $containerPadding * 2;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

// Ограничивающий контейнер
//? Тип адаптива (Выбрать нужный вариант):
//* 1 = отзывчивость (у контейнера нет брейкпоинтов),
//* 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам см. _variables.scss)

$responsiveType: 2;

// Отзывчивая
@if ($responsiveType == 1) {
  [class*="__container"] {
    // Фулл-сайз
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      margin: 0 auto;
    }

    // Если padding > 0 делим на 2
    @if ($containerPadding > 0) {
      padding: 0 math.div($containerPadding, 2);
    }
  }
}

// По брейк-поинтам
@else {
  [class*="__container"] {
    // макс ширина контейнера + padding * 2
    @media (max-width: $pc) {
      max-width: rem(1104);
      padding: 0 30px;
    }

    // макс ширина контейнера + padding * 2
    @media (max-width: $tablet) {
      max-width: rem(980);
      padding: 0 30px;
    }

    // макс ширина контейнера + padding * 2
    @media (max-width: $mobile) {
      max-width: rem(728);
      padding: 0 20px;
    }

    // макс ширина контейнера - padding * 2
    @media (max-width: $mobileSmall) {
      max-width: rem(320);
      padding: 0 16px;
    }
  }
}
