/*
? Команды сборщика. Подробнее в документации, раздел "Команды".
*================================================================
gulp
gulp build
gulp build --max
gulp build --optimized
gulp build --min
gulp create-page --name page
gulp create-component --name my-component
gulp create-component --name my-component --page page-name
gulp removeEmpty
*================================================================
*/

//? Основные цвета
$main: #1f1d2b;
$white: #ffffff;
$black: #1f1d2b;
$accent: #6946e8;
$primary-100: #1f1d2b;
$primary-200: #262434;
$primary-300: #ffffff;
$primary-400: #8b97ae;
$secondary-100: #6946e8;
$secondary-200: #db6ab5;
$secondary-300: #8766ff;
$secondary-400: #2d2b3e;

//? Состояния
$normal: #6946e8;
$hover: #8766ff;
$active: #6946e8;
$disabled: rgba(68, 50, 138, 0.5);

//? Состояния текста
$default-text: #8b97ae;
$hover-text: #ffffff;
$active-text: #ffffff;
$disabled-text: #8b97ae;

//? Border-radius
$default-br: 12px;

//? По умолчанию
$base_fz: 16px; //? Размер шрифта по умолчанию 16px
$base_ff: 'DaysOne-Regular', sans-serif; //? Шрифт по умолчанию
$base_hover: $hover; //? Цвет hover по умолчанию
$base_bg: $main; //? Цвет фона по умолчанию
$base_color: $white; //? Цвет текста по умолчанию

//? Переменные семейств шрифтов
// $ff_Dr: "DaysOne-Regular", sans-serif;
// $ff_Msb: "Montserrat-SemiBold", sans-serif;
// $ff_Gb: "Gravity-Bold", sans-serif;
// $ff_Gr: "Gravity-Regular", sans-serif;

//? Стиль шрифтов
$I: italic;
$O: oblique;

//? Толщина семейства шрифтов
$th: 100; // Thin
$el: 200; // Extra Light
$l: 300; // Light
$r: 400; // Regular
$m: 500; // Medium
$sb: 600; // SemiBold
$b: 700; // Bold
$eb: 800; // Extra Bold
$bl: 900; // Super

// *================================================================

//? Размеры
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: 1560; // Ширина ПК контейнера
$minWidth: 288px; // Минимальная ширина страницы

//? Общий отступ у контейнера (Пример формулы расчёта ниже)
// (если $responsiveType = 1, то 32px / 2 = 16px слева и справа)
// (если $responsiveType = 2, то 16px * 2 = 32px слева и справа)
// 0 = нет отступа
$containerPadding: 16px;

//? Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

//? Высота отступа контента от fixed header
$headerHeight: 55px;

// *================================================================

//? Брейк-поинты
$pc: 1280px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 768px; // Телефоны L
$mobileSmall: 340px; // Телефоны S

//! ================================================================
//! Настройки Контейнера
/*
  (i) Стили будут применяться ко
  всем классам содержащим *__container
  Например header__container, main__container и т.д.
*/

[class*='__container'] {
  max-width: $maxWidthContainer + $containerPadding * 2;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

// Ограничивающий контейнер
//? Тип адаптива (Выбрать нужный вариант):
//* 1 = отзывчивость (у контейнера нет брейкпоинтов),
//* 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам см. _variables.scss)

$responsiveType: 2;

// Отзывчивая
@if ($responsiveType == 1) {
  [class*='__container'] {
    // Фулл-сайз
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      margin: 0 auto;
    }

    // Если padding > 0 делим на 2
    @if ($containerPadding > 0) {
      padding: 0 math.div($containerPadding, 2);
    }
  }
}

// По брейк-поинтам
@else {
  [class*='__container'] {
    // макс ширина контейнера + padding * 2
    @media (max-width: $pc) {
      max-width: rem(1210);
      padding: 0 35px;
    }

    // макс ширина контейнера + padding * 2
    @media (max-width: $tablet) {
      max-width: rem(880);
      padding: 0 20px;
    }

    // макс ширина контейнера + padding * 2
    @media (max-width: $mobile) {
      max-width: rem(728);
      padding: 0 20px;
    }

    // макс ширина контейнера - padding * 2
    @media (max-width: $mobileSmall) {
      max-width: rem(320);
      padding: 0 16px;
    }
  }
}
